.page-header
  %h1= link_to @user.name, profile_path(@user.profile_name)
.row
  .span3
    = link_to image_tag(@user.gravatar+"?size=200")

  .span9
    %h2 Following
    - if @following.length > 0
      - @following.each do |follow|
        .row
          .span0= link_to image_tag(follow.gravatar), profile_path(follow.profile_name)
          .span0
            %strong= link_to follow.name, profile_path(follow.profile_name)
            - follow_include = current_user.friends.include?(follow)
            - btn_unfollow = follow_include ? "display:block" : "display:none"
            - btn_follow = !follow_include && current_user != follow ? "display:block" : "display:none"

            = form_tag friendships_path, method: :post do |form|
              = hidden_field_tag(:friend_id, follow.id)
              = submit_tag "Follow", {class: 'btn btn-primary follow', friend_id: follow.id, :style=>btn_follow}
            = form_tag friendship_destroy_path, method: :delete do |form|
              = hidden_field_tag(:friend_id, follow.id)
              = submit_tag "Unfollow", {class: 'btn btn-danger unfollow', friend_id: follow.id, :style=>btn_unfollow}
            - if follow == current_user
              %br
              %strong You
        %br
    - else
      %pre
        %p= "#{@user.name} is not following anyone."
