.row
  .span3
    = link_to image_tag(@user.gravatar+"?size=200")

  .span9
    %h2 Followers
    - if @followers.length > 0
      %table{:class => "table table-hover"}
        %tbody
          - @followers.each do |follower|
            %tr
              %td= link_to image_tag(follower.gravatar+"?size=48")
              %td= link_to follow.name, profile_path(follower.profile_name)
              %td
                = form_tag friendship_destroy_path, method: :delete do |form|
                  = hidden_field_tag(:friend_id, follower.id)
                  = submit_tag "Unfollow", class: 'btn btn-danger'
    - else
      %pre
        %p= "No One's Following #{@user.name}"