.page-header
  %h1= link_to @user.name, profile_path(@user.profile_name)
.row
  .span3
    = link_to image_tag(@user.gravatar+"?size=200")

  .span9
    %h2 Followers
    - if @followers.length > 0
      %table{:class => "table table-hover"}
        %tbody
          - @followers.each do |follower|
            .row
              .span0= link_to image_tag(follower.gravatar), profile_path(follower.profile_name)
              .span0
                %strong= link_to follower.name, profile_path(follower.profile_name)
                - if follower != current_user
                  = form_tag friendship_destroy_path, method: :delete do |form|
                    = hidden_field_tag(:friend_id, follower.id)
                    = submit_tag "Unfollow", class: 'btn btn-danger'
                - else
                  %br
                  %strong You
            %br
    - else
      %pre
        %p= "No One's Following #{@user.name}"