
.row
  .span3
    = link_to image_tag(@user.gravatar+"?size=220")

    %div{:class=>"navbar navbar-inverse"}
    %div{:class=>"navbar"}
      .navbar-inner
        %a{:class=>"brand", :href=>followings_path(@user.profile_name)}= "Following (#{@following.length})"
    - if @following.length > 0
      - @following.each_with_index do |follow, i|
        - break if i == 20
        .row
          .span1= link_to image_tag(follow.gravatar+"?size=24"), profile_path(follow.profile_name)
          %strong= link_to follow.name, profile_path(follow.profile_name)
        %br
    - else
      %pre
        %p= "#{@user.name} is not following anyone."

    %div{:class=>"navbar"}
      .navbar-inner
        %a{:class=>"brand", :href=>followers_path(@user.profile_name)}= "Followers (#{@followers_length})"
      - @followers.each do |follower|
        %br
        .row
          .span1= link_to image_tag(follower.gravatar+"?size=24"), profile_path(follower.profile_name)
          %strong= link_to follower.name, profile_path(follower.profile_name)

    - if @similars.length > 0
      .navbar
        .navbar-inner
          .brand Who to follow
      - @similars.each_with_index do |similar, i|
        .row
          .span1= link_to image_tag(similar.gravatar+"?size=24"), profile_path(similar.profile_name)
          %strong= link_to similar.name, profile_path(similar.profile_name)
        %br

  .span9
    .page-header
      %h1= @user.name

    - btn_follow = @follow? "display:block" : "display:none"
    - btn_unfollow = @unfollow? "display:block" : "display:none"

    = form_tag friendships_path, method: :post do |form|
      = hidden_field_tag(:friend_id, @user.id)
      = submit_tag "Follow", {class: 'btn btn-primary follow', friend_id: @user.id, :style=>btn_follow}
    = form_tag friendship_destroy_path, method: :delete do |form|
      = hidden_field_tag(:friend_id, @user.id)
      = submit_tag "Unfollow", {class: 'btn btn-danger unfollow', friend_id: @user.id, :style=>btn_unfollow}

    %h2 Favorites Artists
    - if @artists.length > 0
      - @artists.each_with_index do |artist, i|
        - break if i == 20
        %pre
          = link_to artist.name, artist_path(uri(artist.name))
    - else
      %pre
        %p= "#{@user.name} has not added anything yet."