
.row
  .span3
    = link_to image_tag(@user.gravatar+"?size=200")

    %h2 Following
    - if @following.length > 0
      - @following.each_with_index do |follow, i|
        - break if i == 20
        %pre
          = link_to follow.name, profile_path(follow.profile_name)
    - else
      %pre
        %p= "#{@user.name} is not following anyone."

    - if @similars.length > 0
      %h3 Make New following
      - @similars.each_with_index do |similar, i|
        %pre
          = link_to similar.name, profile_path(similar.profile_name)

  .span9
    .page-header
      %h1= @user.name

    - if @follow # Show to follow user
      = form_tag friendships_path, method: :post do |form|
        = hidden_field_tag(:friend_id, @follow.id)
        = submit_tag "Follow", class: 'btn btn-primary'
    - elsif @unfollow # Show to unfollow user
      = form_tag friendship_destroy_path, method: :delete do |form|
        = hidden_field_tag(:friend_id, @unfollow.id)
        = submit_tag "Unfollow", class: 'btn btn-danger'

    %h2 Favorites Artists
    - if @artists.length > 0
      - @artists.each_with_index do |artist, i|
        - break if i == 20
        %pre
          = link_to artist.name, artist_path(uri(artist.name))
    - else
      %pre
        %p= "#{@user.name} has not added anything yet."