<div class="modal hide fade in" id="registerModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h2>Sign Up</h2>
  </div>

<div class="modal-body">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :name %>
    <%= f.input :profile_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </fieldset>

  <%= render "devise/shared/links" %>
</div>
<div class="modal-footer">
  <%= f.button :submit, "Sign up", :class => "btn btn-warning" %>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
<% end %>
</div>