
.reviews-content 
  .page-header{:class=>'Reviews'}
    %h3 Comments (#{@reviews.length})
  %div{:id => 'reviewspaginate', :class=>'container'}
    %div{:class=>"info_text"}
    %ul{:class=>'alt_content'}
      - @reviews.each do |review|
        - if review.user != nil
          .row
            .span1
              = image_tag review.user.gravatar
            .span10
              %strong= link_to review.user.name, profile_path(review.user.profile_name)
              %p{:class=>"cut-paragraph"}= review.comments
              .text-info= time_ago_in_words(review.created_at) + " ago"
              %br
    %div{:class=>'alt_page_navigation'}


