-#  This file is app/views/index/index.html.haml

%h1 
  = @artist.name

%p#description= @artist.description

-if @artist.name
  = link_to 'Add Artist', new_artist_path, class: "btn btn-primary"

  = render 'similar'

= link_to 'Add Comment', new_artist_review_path(@artist), class: "btn btn-success"