-#  This file is app/views/index/index.html.haml

%h1 
  = @artist.name

%p#description= @artist.description

-if @artist.name
  = link_to 'Add Artist', artist_path(:name => @artist.name, :description => @artist.description, :similar => @artist.similar), :method => :post, class: "btn btn-primary"

  = render 'similar'

  %h#reviews_header Number of reviews: #{@num_reviews}
  - @reviews.each do |review|
    #review_user= review.user.name
    %hr
    = review.comments
  = render 'artist_review_form'