-#  This file is app/views/index/index.html.haml

.page-header
  %h1= @artist.name

.row
  .span3
    = link_to image_tag(@artist_image)
    %br
    %br
    -if @artist.name
      - btn_add = !@add? "display:block" : "display:none"
      - btn_remove = @add ? "display:block" : "display:none"

      = form_tag destroy_user_artist_path, method: :delete do |form| 
        = hidden_field_tag(:id, @artist.id)
        = submit_tag "Remove Artist", {class: 'btn btn-danger btn-remove', id: @artist.id, :style=>btn_remove}
      = form_tag user_artist_path, method: :post do |form|
        = hidden_field_tag(:id, @artist.id)
        = submit_tag "Add Artist", {class: 'btn btn-primary btn-add', id: @artist.id, :style=>btn_add}

    %h3 Description
    %p#description= @artist.description

  .span6
    %h3 Albums
    -if @albums.length > 0
      %table#albums
        %tbody
          - @albums.each_with_index do |album, i|
            - name_album = album.name.gsub('.','#').gsub('/','$')
            %tr
              %td= "#{i+1}."
              %td= link_to album.name, artist_album_path(@artist.name, name_album)

  .span3
    %div{:class=>"well sidebar-nav"}
      = render 'similar'

= render 'show_reviews'

= render 'artist_review_form'
