-#  This file is app/views/index/index.html.haml

%h1 
  = @artist.name

%p#description= @artist.description

-if @artist.name
  = link_to 'Add Artist', artists_path(:name => @artist.name, :description => @artist.description, :similar => @artist.similar), :method => :post, class: "btn btn-primary"

  = render 'similar'

= link_to 'Add Comment', new_artist_review_path(@artist), class: "btn btn-success"