-#  This file is app/views/index/index.html.haml

.page-header
  %h1= @artist.name

.row
  .span3
    = link_to image_tag(@artist_image)
    %br
    %br
    -if @artist.name
      -if @add
        = form_tag destroy_user_artist_path, method: :delete do |form| 
          = hidden_field_tag(:id, @artist.id)
          = submit_tag "Remove Artist", class: 'btn btn-primary', :confirm => 'Are you sure?'
      -else
        = form_tag user_artist_path, method: :post do |form|
          = hidden_field_tag(:id, @artist.id)
          = submit_tag "Add Artist", class: 'btn btn-primary'

    %h3 Description
    %p#description= @artist.description

  .span6
    %h3 Albums
    -if @albums.length > 0
      - @albums.each_with_index do |album, i|
        .row
          .span6
            = "#{i+1}." 
            = link_to album.name, artist_album_path(@artist.name, album.name)

  .span3
    %div{:class=>"well sidebar-nav"}
      = render 'similar'

.page-header
  %h3 Comments (#{@num_reviews})

- @reviews.each do |review|
  .row
    .span1= image_tag review.user.gravatar
    .span7
      %strong= link_to review.user.name, profile_path(review.user.profile_name)
      %p= review.comments
      .text-info= time_ago_in_words(review.created_at) + " ago"
      %br
= render 'artist_review_form'
