.page-header
  %h1= link_to @artist.name, artist_path(@artist.name)

.row
  .span3
    = link_to image_tag(@album_image)

  .span3
    %h2= @album.name

    -if @album.release_date
      %h4 Release date
      = "#{@album.release_date.strftime("%d %b %Y")}"

    %h4 Running length
    = "#{@album.tracks} tracks"

  .span6
    %iframe#player{:allowfullscreen => "", :frameborder => "0", :height => "243",
        :src => "http://www.youtube.com/embed/#?autoplay=1", :width => "417"}

%br

%table#songs{:class => "table table-striped"}
  %thead
    %tr
      %th
      %th Track
      %th Duration
      %th
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.track
        %td= song.name
        %td= Time.at(song.duration).utc.strftime("%M:%S")
        %td= link_to "Play", song_path(@artist.name, @album.name, song.link)
