<div class="modal hide fade in" id="loginModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h2>Sign In</h2>
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {id: "ajax_signin", class: "well"}) do |f| %>
   
  <div class="modal-body">
    <%= f.input :email %>
    <%= f.input :password %>
    <% if devise_mapping.rememberable? -%>
      <div><%= f.input :remember_me, as: :boolean %></div>
    <% end -%>
    <%= render "devise/shared/links" %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Sign in", :class => "btn btn-primary btn-login-submit"%>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
<% end -%>
</div>