%h3 Add new comment
= form_tag :action => "create", :controller=>"reviews" do
  = label :review, :comments, 'Comment'
  = text_area :review, :comments

  %br
  = submit_tag 'Cancel', class: "btn btn-secundary"
  = submit_tag 'Create Comment', class: "btn btn-primary"