!!! 5
%html
  %head
    %title MiniTunes
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %div{:class=>"navbar navbar-inverse navbar-fixed-top"}
      %div{:class=>"navbar-inner"}
        %div{:class=>"container"}
          %a{:href=>"/", :class=>"brand"} Minitunes
    #main{:class=>"container"}
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
